
          <div class="containerheader">
              <div>
                  <md-card>
                      <md-card-header> 
                        <md-card-title><Strong>Today Appointments</Strong></md-card-title>
                        <md-card-subtitle></md-card-subtitle>
                      </md-card-header> 
                      <md-card-content>
                        <h1 style="text-align:center">15</h1>
                      </md-card-content>
                    </md-card>
              </div>
              <div>
                  <md-card>
                      <md-card-header> 
                        <md-card-title><Strong>Tomorrow Appointments</Strong></md-card-title>
                        <md-card-subtitle></md-card-subtitle>
                      </md-card-header> 
                      <md-card-content>
                          <h1 style="text-align:center">12</h1>
                      </md-card-content> 
                    </md-card>
              </div>
              <div>
                  <md-card>
                      <md-card-header> 
                        <md-card-title><Strong>My Patients in Queue</Strong></md-card-title>
                        <md-card-subtitle></md-card-subtitle>
                      </md-card-header> 
                      <md-card-content>
                          <h1 style="text-align:center">8</h1>
                      </md-card-content>
                    </md-card>
              </div>
              <div>
                  <md-card>
                      <md-card-header> 
                        <md-card-title><Strong>Unassigned Patients In Queue</Strong></md-card-title>
                        <md-card-subtitle></md-card-subtitle>
                      </md-card-header> 
                      <md-card-content>
                          <h1 style="text-align:center">3</h1>
                      </md-card-content> 
                    </md-card>
              </div>
            </div>

          <div class="containerheader">
              <div>
                    <md-card>
                        <md-card-header> 
                          <md-card-title><Strong>To Do List</Strong></md-card-title>
                          <md-card-subtitle></md-card-subtitle>
                        </md-card-header> 
                        <md-card-content>
                            <md-selection-list>
                              <md-list-option>
                                Contact Dr Leong for Laboratory Result
                              </md-list-option>
                              <md-list-option>
                                Issue referal letter to mr Wong
                              </md-list-option>
                              <md-list-option checked>
                                Replenish stock level
                              </md-list-option>
                              <md-list-option>
                                Important appointment at 4pm
                              </md-list-option>
                              <md-list-option>
                                Locum Interview at 5pm
                              </md-list-option>
                              <md-list-option>
                                Onsite visit @ 2pm - KPJ 
                              </md-list-option>
                              <md-list-option>
                                Onsite visit @ 7pm - Sunway medical centre
                              </md-list-option>
                            </md-selection-list>
                        </md-card-content> 
                      </md-card>

              </div>
              <div>
                  <md-card>
                      <md-card-header> 
                        <md-card-title><Strong>Quick Search</Strong></md-card-title>
                        <md-card-subtitle></md-card-subtitle>
                      </md-card-header> 
                      <md-card-content>
                          <md-form-field class="input-full-width">
                              <input mdInput placeholder="Search Patient..." [(ngModel)]="patient">
                            </md-form-field>
                            
                            <md-form-field class="input-full-width">
                                <input mdInput placeholder="Search Episode..." [(ngModel)]="episode">
                            </md-form-field>
                      </md-card-content> 
                      <md-card-actions>
                        <button md-raised-button color="accent" (click)="quickSearch()"><i class="material-icons">search</i>Search...</button>
                      </md-card-actions>
                    </md-card>
                    
              </div>

          </div>

      
