


        <div class="container">
            <div>
                <md-list>
                    <h3 md-subheader>To Do Appointment</h3>
                    <md-list-item>
                      <md-icon md-list-icon>folder</md-icon>
                      <h4 md-line>Appointment #1</h4>
                      <p md-line> 2:30PM - 3:30PM </p>
                    </md-list-item>
                    <md-list-item>
                      <md-icon md-list-icon>folder</md-icon>
                      <h4 md-line>Appointment #2</h4>
                      <p md-line> 3:30PM - 4:30PM </p>
                    </md-list-item>
                    <md-list-item>
                      <md-icon md-list-icon>folder</md-icon>
                      <h4 md-line>Appointment #3</h4>
                      <p md-line> 4:30PM - 5:30PM </p>
                    </md-list-item>
                    <md-list-item>
                      <md-icon md-list-icon>folder</md-icon>
                      <h4 md-line>Appointment #4</h4>
                      <p md-line> 5:30PM - 6:30PM </p>
                    </md-list-item>
                  </md-list>
            </div>
            <div>
                <md-list>
                    <h3 md-subheader>To Do List</h3>
                    <md-list-item>
                      <md-icon md-list-icon>note</md-icon>
                      <h4 md-line>To do #1</h4>
                      <p md-line> 20-09-2017 </p>
                    </md-list-item>
                    <md-list-item>
                      <md-icon md-list-icon>note</md-icon>
                      <h4 md-line>To do #2</h4>
                      <p md-line> 20-09-2017 </p>
                    </md-list-item>
                    <md-list-item>
                      <md-icon md-list-icon>note</md-icon>
                      <h4 md-line>To do #3</h4>
                      <p md-line> 20-09-2017 </p>
                    </md-list-item>
                  </md-list>
            </div>
            <div>
                <md-form-field class="input-full-width">
                    <input mdInput placeholder="Search Patient...">
                  </md-form-field>
                  <md-form-field class="input-full-width">
                      <input mdInput placeholder="Search Episode...">
                  </md-form-field>
            </div>
        </div>
