
          <div class="containerheader">
              <div>
                  <md-card>
                      <md-card-header> 
                        <md-card-title><Strong>Today Appointments</Strong></md-card-title>
                        <md-card-subtitle></md-card-subtitle>
                      </md-card-header> 
                      <md-card-content>

                        <dx-tree-map
                        [dataSource]="citiesPopulations"
                        [colorizer]="option"
                        resolveLabelOverflow="ellipsis">
                        <dxo-tooltip
                        [enabled]="true" 
                        [customizeTooltip]="customizeTooltip"></dxo-tooltip>
                        <dxo-size
                        [height]="150"></dxo-size>
                        </dx-tree-map>

                      </md-card-content>
                    </md-card>
              </div>
              <div>
                  <md-card>
                      <md-card-header> 
                        <md-card-title><Strong>Tomorrow Appointments</Strong></md-card-title>
                        <md-card-subtitle></md-card-subtitle>
                      </md-card-header> 
                      <md-card-content>
                        <dx-tree-map
                        [dataSource]="citiesPopulations1"
                        [colorizer]="option"
                        resolveLabelOverflow="ellipsis">
                        <dxo-tooltip
                        [enabled]="true" 
                        [customizeTooltip]="customizeTooltip"></dxo-tooltip>
                        <dxo-size
                        [height]="150"></dxo-size>
                        </dx-tree-map>
                      </md-card-content> 
                    </md-card>
              </div>
              <div>
                  <md-card>
                      <md-card-header> 
                        <md-card-title><Strong>My Patients in Queue</Strong></md-card-title>
                        <md-card-subtitle></md-card-subtitle>
                      </md-card-header> 
                      <md-card-content>
                        <dx-tree-map
                        [dataSource]="citiesPopulations2"
                        [colorizer]="option"
                        resolveLabelOverflow="ellipsis">
                        <dxo-tooltip
                        [enabled]="true" 
                        [customizeTooltip]="customizeTooltip"></dxo-tooltip>
                        <dxo-size
                        [height]="150"></dxo-size>
                        </dx-tree-map>
                      </md-card-content>
                    </md-card>
              </div>
              <div>
                  <md-card>
                      <md-card-header> 
                        <md-card-title><Strong>Unassigned Patients In Queue</Strong></md-card-title>
                        <md-card-subtitle></md-card-subtitle>
                      </md-card-header> 
                      <md-card-content>
                        <dx-tree-map
                        [dataSource]="citiesPopulations3"
                        [colorizer]="option"
                        resolveLabelOverflow="ellipsis">
                        <dxo-tooltip
                        [enabled]="true" 
                        [customizeTooltip]="customizeTooltip"></dxo-tooltip>
                        <dxo-size
                        [height]="150"></dxo-size>
                        </dx-tree-map>
                      </md-card-content> 
                    </md-card>
              </div>
            </div>

          <div class="containerheader">
              <div>
                    <md-card>
                        <md-card-header> 
                          <md-card-title><Strong>To Do List</Strong></md-card-title>
                          <md-card-subtitle></md-card-subtitle>
                        </md-card-header> 
                        <md-card-content>
                            <md-selection-list>
                              <md-list-option>
                                Contact Dr Leong for Laboratory Result
                              </md-list-option>
                              <md-list-option>
                                Issue referal letter to mr Wong
                              </md-list-option>
                              <md-list-option selected="true">
                                Replenish stock level
                              </md-list-option>
                              <md-list-option>
                                Important appointment at 4pm
                              </md-list-option>
                              <md-list-option selected="true">
                                Locum Interview at 5pm
                              </md-list-option > 
                              <md-list-option>
                                Onsite visit @ 2pm - KPJ 
                              </md-list-option>
                              <md-list-option>
                                Onsite visit @ 7pm - Sunway medical centre
                              </md-list-option>
                            </md-selection-list>
                        </md-card-content> 
                      </md-card>

              </div>
              <div>
                  <md-card>
                      <md-card-header> 
                        <md-card-title><Strong>Quick Search</Strong></md-card-title>
                        <md-card-subtitle></md-card-subtitle>
                      </md-card-header> 
                      <md-card-content>
                        <div> 
                          <md-form-field class="input-full-width">
                            <input mdInput placeholder="Search Patient..." [mdAutocomplete]="reactivePatient" [formControl]="patientCtrl" name="patientID">
                          </md-form-field>
              
                          <md-autocomplete #reactivePatient="mdAutocomplete" [displayWith]="displayPatientFn">
                            <md-option *ngFor="let patient of filteredPatients | async" [value]="patient">
                              <span>{{patient.name}}, </span>
                              <small class="highlighter"><strong>NRIC:</strong>{{patient.identificationValue}}, <strong>Gender:</strong>{{patient.gender}}, <strong>D.O.B:</strong>{{patient.dob | date: 'dd/MM/yyyy'}}</small>
                            </md-option>
                          </md-autocomplete>
                        </div>
                            
                            <div> 
                              <md-form-field class="input-full-width">
                                <input mdInput placeholder="Search Episode..." [mdAutocomplete]="autoEpisode" [formControl]="episodeCtrl">
                              </md-form-field>
                              <md-autocomplete #autoEpisode="mdAutocomplete" [displayWith]="displayEpisodeFn">
                                <md-option *ngFor="let episode of filteredEpisode | async" [value]="episode">
                                  <span>{{episode.visitNo}} </span>
                                  <small class="highlighter"> - ({{episode.patientResource.patientID}},{{episode.patientResource.name}}, D.O.B:{{episode.patientResource.dob | date: 'dd/MM/yyyy'}}) </small>
                                </md-option>
                              </md-autocomplete>
                            </div>
                      </md-card-content> 
                      <md-card-actions>
                        <button md-raised-button color="accent" (click)="quickSearch()"><i class="material-icons">search</i>Search...</button>
                      </md-card-actions>
                    </md-card>
                    
              </div>

          </div>
