
<section>
    <div class="toolbar">
      <div>
        <button md-raised-button (click)="onSave()">Save</button>
        <button md-raised-button>New</button>
      </div>
    </div> 
    <md-card>
      <md-card-content>
        <div class="container">
          <div>
            <md-select placeholder="Modality" [(ngModel)]="data.modalityID" name="modality" class="input-full-width">
              <md-option *ngFor="let modality of modalities" [value]="modality.modalityID">
                  {{modality.modalityName}}
              </md-option>
            </md-select>
          </div>
          <div>
            <button md-raised-button color="accent" (click)="toggleSearch()"><i class="material-icons">search</i>Search Radiology Items...</button>
          </div>
          <div>
              <md-radio-group [(ngModel)]="data.priority" class="input-full-width">
                  <md-radio-button *ngFor="let priority of priorities" [value]="priority" [checked]="priority==data.priority">
                      {{priority}}
                  </md-radio-button>
              </md-radio-group>
          </div>
        </div>

        <div class="container">
            <div>
                <md-form-field class="input-full-width">
                  <input mdInput placeholder="Ordered By" [mdAutocomplete]="orderedBy" [formControl]="orderedByCtrl">
                  
                  <md-autocomplete #orderedBy="mdAutocomplete" [displayWith]="displayDoctorFn">
                  <md-option *ngFor="let doctor of filteredOrderedBy | async" [value]="doctor">
                    <span>{{ doctor.userFullName }}, </span>
                    <small><strong>Initial:</strong>{{doctor.userInitial}}, <strong>Speciality:</strong>{{doctor.specialityID}}</small>
                  </md-option>
                  </md-autocomplete>
                </md-form-field>
            </div>
            <div>
                <md-form-field class="input-full-width">
                  <input mdInput placeholder="Referred By" [mdAutocomplete]="referredBy" [formControl]="referredByCtrl">
                  
                  <md-autocomplete #referredBy="mdAutocomplete" [displayWith]="displayDoctorFn">
                  <md-option *ngFor="let doctor of filteredReferredBy | async" [value]="doctor">
                    <span>{{ doctor.userFullName }}, </span>
                    <small><strong>Initial:</strong>{{doctor.userInitial}}, <strong>Speciality:</strong>{{doctor.specialityID}}</small>
                  </md-option>
                  </md-autocomplete>
                </md-form-field>
            </div>
            <div>
                <md-form-field class="input-full-width">
                  <input mdInput placeholder="Reply To" [mdAutocomplete]="replyTo" [formControl]="replyToCtrl">
                  
                  <md-autocomplete #replyTo="mdAutocomplete" [displayWith]="displayDoctorFn">
                  <md-option *ngFor="let doctor of filteredReplyTo | async" [value]="doctor">
                    <span>{{ doctor.userFullName }}, </span>
                    <small><strong>Initial:</strong>{{doctor.userInitial}}, <strong>Speciality:</strong>{{doctor.specialityID}}</small>
                  </md-option>
                  </md-autocomplete>
                </md-form-field>
            </div>
        </div>
        <div class="container">
            <div>
                <md-form-field class="input-full-width">
                  <input mdInput placeholder="Reported By" [mdAutocomplete]="reportedBy" [formControl]="reportedByCtrl">
                  
                  <md-autocomplete #reportedBy="mdAutocomplete" [displayWith]="displayDoctorFn">
                  <md-option *ngFor="let doctor of filteredReportedBy | async" [value]="doctor">
                    <span>{{ doctor.userFullName }}, </span>
                    <small><strong>Initial:</strong>{{doctor.userInitial}}, <strong>Speciality:</strong>{{doctor.specialityID}}</small>
                  </md-option>
                  </md-autocomplete>
                </md-form-field>
          
            </div>
            <div>
                <md-form-field class="input-full-width">
                  <input mdInput placeholder="Radiologist" [mdAutocomplete]="radiologist" [formControl]="radiologistCtrl">
                  
                  <md-autocomplete #radiologist="mdAutocomplete" [displayWith]="displayDoctorFn">
                  <md-option *ngFor="let doctor of filteredRadiologist | async" [value]="doctor">
                    <span>{{ doctor.userFullName }}, </span>
                    <small><strong>Initial:</strong>{{doctor.userInitial}}, <strong>Speciality:</strong>{{doctor.specialityID}}</small>
                  </md-option>
                  </md-autocomplete>
                </md-form-field>
          
            </div>
            <div>
                <md-select placeholder="Laterality" [(ngModel)]="data.laterality" name="laterality" class="input-full-width">
                <md-option *ngFor="let laterality of lateralities" [value]="laterality.value">
                    {{laterality.viewValue}}
                </md-option>
                </md-select>
            </div>
        </div>

          <div>
            <dx-data-grid style="display:block;" #grid
            id="gridContainer" 
            [dataSource]="returnedResult"
            [allowColumnResizing]="true"
             
            [columnAutoWidth]="true"
            [allowColumnReordering]="true">  
            <dxo-editing 
                mode="cell"
                [allowUpdating]="true"
                [allowDeleting]="true">
            </dxo-editing>
            <dxi-column dataField="catalog"></dxi-column>
            <dxi-column dataField="chargeItemCode"></dxi-column>
            <dxi-column dataField="chargeItemDescription"></dxi-column>
            <dxi-column dataField="analysis"></dxi-column>
            <dxi-column *ngIf="toShow" dataField="billPrice" dataType="number"></dxi-column>
            </dx-data-grid>
      
          </div>     

        <div class="container">
            <div>
              <md-form-field class="input-full-width">
                <input mdInput placeholder="Allergy" [(ngModel)]="data.allergy" name="allergy">
              </md-form-field>
            </div>
            <div>
              <md-form-field class="input-full-width">
                <input mdInput placeholder="Special Instruction" [(ngModel)]="data.instruction" name="instruction">
              </md-form-field>
            </div>
            <div>
                <md-checkbox [(ngModel)]="data.pregnant" name="pregnant">Pregnant</md-checkbox>
                <md-checkbox [(ngModel)]="data.breastFeeding" name="breastFeeding">Breast Feeding</md-checkbox>
            </div>
          </div>
        <div class="container">
              <md-form-field class="input-full-width">
                <textarea mdInput [(ngModel)]="data.remark" name="remark" placeholder="Medical Note"></textarea>
              </md-form-field>
        </div>
      </md-card-content>
    </md-card>
    <p>
      <md-accordion>
        <md-expansion-panel *ngFor="let historyList of historyRecord" >

            <md-expansion-panel-header>
              <mat-panel-description></mat-panel-description>
              <mat-panel-title>
                <strong><h4 md-line><i class="material-icons">timer</i> {{historyList.created | date:'medium'}} - <strong>{{historyList.radiologyOrderNo}}</strong></h4></strong>
              </mat-panel-title>
            </md-expansion-panel-header>
                <md-list>
                  <md-list-item>
                    <p md-line>
                      <span> <small>Ordered By: </small><small class="highlighter">{{historyList.orderedByResource.userFullName}}</small> </span>
                      <span> <small>Reply To: </small><small class="highlighter">{{historyList.replyToResource.userFullName}}</small> </span>
                      <span> <small>Reported By: </small><small class="highlighter">{{historyList.reportedByResource.userFullName}}</small> </span>
                    </p>
                    <p md-line>
                      <span> <small>Priority: </small><small class="highlighter">{{historyList.priority}}</small> </span>
                    </p>
                    <p md-line>
                      <span> <small>Medical Note:  </small><small class="highlighter">{{historyList.remark}}</small> </span>
                    </p> 
                    <p md-line>
                        <span> 
                        <table class="orderTable">
                            <thead>
                            <tr>
                              <th>#</th>
                              <th>Catalog</th>
                              <th>Radiology Code</th>
                              <th>Analysis</th>
                              <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let orderList of historyList.radiologyLnResource; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{orderList.chargeItemResource.catalog}}</td>
                            <td>{{orderList.chargeItemResource.chargeItemCode}}</td>
                            <td>{{orderList.chargeItemResource.analysis}}</td>
                            <td>{{orderList.billPrice}}</td>
                            </tr>
                            </tbody>
                        </table>
                      </span>
                    </p> 
                  </md-list-item>
                </md-list>
                <md-action-row>
                    <span>Current Version: <small class="highlighter">{{historyList.version}}</small></span>  
                    <span>, Updated: <small class="highlighter">{{historyList.created | date:'medium'}}</small> </span>
                    <span>, By: <small class="highlighter">{{historyList.createdByResource.userFullName}}</small></span>
                    <span>, Created: <small class="highlighter">{{historyList.created | date:'medium'}}</small> </span>
                    <span>, By: <small class="highlighter">{{historyList.createdByResource.userFullName}}</small></span>
                    <span> </span>
                    <button md-raised-button (click)="loadDatabyID(historyList.radiologyHdrID)"><i class="material-icons">mode_edit</i>Edit</button>
                    <button md-raised-button (click)="loadDatabyID(historyList.radiologyHdrID)"><i class="material-icons">delete</i>Delete</button>
                  </md-action-row>
        </md-expansion-panel>
      </md-accordion>
  </section>









