
<section>
    <div class="toolbar">
      <div>
        <button md-raised-button (click)="onSave()">Save</button>
        <button md-raised-button>New</button>
      </div>
    </div>

    <md-card>
      <md-card-content>

        <div class="container">
          <div class="two">
            
            <button md-mini-fab (click)="toggleSearch()"><i class="material-icons">search</i></button>

            <md-select placeholder="Modality" [(ngModel)]="data.modalityID" name="modality" class="input-full-width">
              <md-option *ngFor="let modality of modalities" [value]="modality.modalityID">
                  {{modality.modalityName}}
              </md-option>
            </md-select>
          </div>
          <div>
              <md-radio-group [(ngModel)]="data.priority" class="input-full-width">
                  <md-radio-button *ngFor="let priority of priorities" [value]="priority" [checked]="priority==data.priority">
                      {{priority}}
                  </md-radio-button>
              </md-radio-group>
          </div>
        </div>

        <div class="container">
            <div>
                <md-form-field class="input-full-width">
                  <input mdInput placeholder="Ordered By" [mdAutocomplete]="orderedBy" [formControl]="orderedByCtrl">
                  
                  <md-autocomplete #orderedBy="mdAutocomplete" [displayWith]="displayDoctorFn">
                  <md-option *ngFor="let doctor of filteredOrderedBy | async" [value]="doctor">
                    <span>{{ doctor.userFullName }}, </span>
                    <small><strong>Initial:</strong>{{doctor.userInitial}}, <strong>Speciality:</strong>{{doctor.specialityID}}</small>
                  </md-option>
                  </md-autocomplete>
                </md-form-field>
            </div>
            <div>
                <md-form-field class="input-full-width">
                  <input mdInput placeholder="Referred By" [mdAutocomplete]="referredBy" [formControl]="referredByCtrl">
                  
                  <md-autocomplete #referredBy="mdAutocomplete" [displayWith]="displayDoctorFn">
                  <md-option *ngFor="let doctor of filteredReferredBy | async" [value]="doctor">
                    <span>{{ doctor.userFullName }}, </span>
                    <small><strong>Initial:</strong>{{doctor.userInitial}}, <strong>Speciality:</strong>{{doctor.specialityID}}</small>
                  </md-option>
                  </md-autocomplete>
                </md-form-field>
            </div>
            <div>
                <md-form-field class="input-full-width">
                  <input mdInput placeholder="Reply To" [mdAutocomplete]="replyTo" [formControl]="replyToCtrl">
                  
                  <md-autocomplete #replyTo="mdAutocomplete" [displayWith]="displayDoctorFn">
                  <md-option *ngFor="let doctor of filteredReplyTo | async" [value]="doctor">
                    <span>{{ doctor.userFullName }}, </span>
                    <small><strong>Initial:</strong>{{doctor.userInitial}}, <strong>Speciality:</strong>{{doctor.specialityID}}</small>
                  </md-option>
                  </md-autocomplete>
                </md-form-field>
            </div>
        </div>
        <div class="container">
            <div>
                <md-form-field class="input-full-width">
                  <input mdInput placeholder="Reported By" [mdAutocomplete]="reportedBy" [formControl]="reportedByCtrl">
                  
                  <md-autocomplete #reportedBy="mdAutocomplete" [displayWith]="displayDoctorFn">
                  <md-option *ngFor="let doctor of filteredReportedBy | async" [value]="doctor">
                    <span>{{ doctor.userFullName }}, </span>
                    <small><strong>Initial:</strong>{{doctor.userInitial}}, <strong>Speciality:</strong>{{doctor.specialityID}}</small>
                  </md-option>
                  </md-autocomplete>
                </md-form-field>
          
            </div>
            <div>
                <md-select placeholder="Laterality" [(ngModel)]="data.laterality" name="laterality" class="input-full-width">
                <md-option *ngFor="let laterality of lateralities" [value]="laterality.value">
                    {{laterality.viewValue}}
                </md-option>
                </md-select>
            </div>
        </div>

          <div>
            <dx-data-grid style="display:block;" #grid
            id="gridContainer" 
            [dataSource]="returnedResult"
            [allowColumnResizing]="true"
            [columnResizingMode]="columnResizingMode"
            [columnAutoWidth]="true"
            [allowColumnReordering]="true">  
            <dxo-editing 
                mode="cell"
                [allowUpdating]="true"
                [allowDeleting]="true">
            </dxo-editing>
            <dxi-column dataField="catalog"></dxi-column>
            <dxi-column dataField="chargeItemCode"></dxi-column>
            <dxi-column dataField="chargeItemDescription"></dxi-column>
            <dxi-column dataField="analysis"></dxi-column>
            <dxi-column *ngIf="toShow" dataField="BillPrice" dataType="number"></dxi-column>
            </dx-data-grid>
      
          </div>     

        <div class="container">
            <div>
              <md-form-field class="input-full-width">
                <input mdInput placeholder="Allergy" [(ngModel)]="data.Allergy" name="Allergy">
              </md-form-field>
            </div>
            <div>
              <md-form-field class="input-full-width">
                <input mdInput placeholder="Special Instruction" [(ngModel)]="data.special" name="special">
              </md-form-field>
            </div>
            <div>
                <md-checkbox [(ngModel)]="data.Pregnant" name="Pregnant">Pregnant</md-checkbox>
                <md-checkbox [(ngModel)]="data.BreastFeeding" name="BreastFeeding">Breast Feeding</md-checkbox>
            </div>
          </div>
        <div class="container">
              <md-form-field class="input-full-width">
                <textarea mdInput [(ngModel)]="data.Remark" name="Remark" placeholder="Medical Note"></textarea>
              </md-form-field>
        </div>
      </md-card-content>
    </md-card>
  </section>

  <md-expansion-panel  #myPanel>
    <md-expansion-panel-header>
      <mat-panel-description></mat-panel-description>
      <mat-panel-title>
        <strong>Medical History</strong>
      </mat-panel-title>
    </md-expansion-panel-header>
      <md-list>
        <md-list-item *ngFor="let historyList of historyRecord" >
          <h4 md-line><i class="material-icons">timer</i> {{historyList.created | date:'medium'}} - <strong>{{historyList.radiologyOrderNo}}</strong></h4>
            <button md-icon-button (click)="open()">
              <i class="material-icons">mode_edit</i>
            </button>
            <button md-icon-button (click)="open()">
              <i class="material-icons">delete</i>
            </button>
          <p md-line>
            <span> <small>Ordered By: </small><b>{{historyList.orderedByResource.userFullName}}</b> </span>
            <span> <small>Reply To: </small><b>{{historyList.replyToResource.userFullName}}</b> </span>
            <span> <small>Reported By: </small><b>{{historyList.reportedByResource.userFullName}}</b> </span>
          </p>
          <p md-line>
            <span> <small>Priority: </small><b>{{historyList.priority}}</b> </span>
          </p>
          <p md-line>
            <span> <b>{{historyList.remark}}</b> </span>
          </p>
          <p md-line>
            <span>
              <div class="tablerow">
                  <div><b>#</b></div>
                  <div><b>Catalog</b></div>
                  <div><b>Radiology Code</b></div>
                  <div><b>Analysis</b></div>
                  <div><b>Price</b></div>
              </div>
              <div class="tablerow" *ngFor="let orderList of historyList.radiologyLnResource; let i=index">
                <div>{{i+1}}</div>
                <div>{{orderList.LaboratoryItemResource.catalog}}</div>
                <div>{{orderList.LaboratoryItemResource.labCode}}</div>
                <div>{{orderList.LaboratoryItemResource.analysis}}</div>
                <div>{{orderList.billPrice}}</div>
              </div>
            </span>
          </p>
          <p md-line class="pRight"> 
            <small>
              <span>Current Version: <b><i>{{historyList.version}}</i></b></span>
            </small>
          </p>
          <p md-line class="pRight">
            <small>      
              <span>Updated: <b><i>{{historyList.created | date:'medium'}}</i></b> </span>
              <span>, By: <b><i>{{historyList.createdByResource.userFullName}}</i></b></span>
            </small>
          </p>
          <p md-line class="pRight">
            <small>
              <span>Created: <b><i>{{historyList.created | date:'medium'}}</i></b> </span>
              <span>, By: <b><i>{{historyList.createdByResource.userFullName}}</i></b></span>
            </small>
          </p>
        </md-list-item>
      </md-list>
  </md-expansion-panel>







