<section> 
      <div class="toolbar">
        <div>
          <button md-raised-button>Save</button>
          <button md-raised-button>New</button>
          <button md-raised-button>Save + New</button>
        </div>
      </div>
  
      <md-card>
        <md-card-header>
          <md-card-title>Invoice</md-card-title>
          <md-card-subtitle>New Invoice</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <md-tab-group>
            <md-tab>
              <ng-template md-tab-label>
                New Transaction
              </ng-template>
              <md-card>
                <md-card-content>
                    <div class="container">
                      <div> 
                          <md-form-field class="input-full-width">
                              <input mdInput [mdDatepicker]="picker" placeholder="Transaction Date">
                              <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                              <md-datepicker #picker></md-datepicker>
                            </md-form-field>
                      </div>
                      <div>
                        <md-form-field class="input-full-width">
                          <input mdInput placeholder="Charge Item..."  name="userInitial">
                        </md-form-field>
                      </div>
                    </div>
                    <div class="container">
                      <div>
                        <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="Price"  name="extension">
                        </md-form-field>
                      </div>
                      <div>
                        <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="GST"  name="extension">
                        </md-form-field>
                      </div>
                      <div>
                        <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="Discount(%)"  name="extension">
                        </md-form-field>
                      </div>
                      <div>
                        <md-form-field class="input-full-width">
                          <input mdInput type="number" placeholder="Discount (Amount)"  name="extension">
                        </md-form-field>
                      </div>
                      
                    </div>
                    <div class="container">
                      <div>
                        <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="Total Price"  name="extension">
                        </md-form-field>
                      </div>
                    </div>
                    <div class="container">
                      <div>
                        <md-form-field class="input-full-width">
                            <input mdInput placeholder="Order By"  name="extension">
                        </md-form-field>
                      </div>
                      <div>
                        <md-form-field class="input-full-width">
                            <input mdInput placeholder="Pay By"  name="extension">
                        </md-form-field>
                      </div>

                    </div>
                </md-card-content>
              </md-card>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                Existing Transaction
              </ng-template>
              <md-card  >
                <md-card-content>
                    <div>
                        <dx-data-grid style="display:block;" #grid
                        id="gridContainer" 
                        [dataSource]="dataHistory"
                        [allowColumnResizing]="true"
                         
                        [columnAutoWidth]="true"
                        [allowColumnReordering]="true">  
                        <dxo-editing 
                            mode="cell"
                            [allowUpdating]="true">
                        </dxo-editing>
                        <dxo-filter-row
                        [visible]="true"></dxo-filter-row>
                        <dxo-paging [pageSize]="30"></dxo-paging>
                        <dxo-pager 
                            [showPageSizeSelector]="true"
                            [allowedPageSizes]="[5,10,15,30,50,100]"
                            [showInfo]="true">
                        </dxo-pager>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                        <dxi-column dataField="trasanctionDate" dataType="date"></dxi-column>
                        <dxi-column dataField="itemCode"></dxi-column>
                        <dxi-column dataField="itemdescription"></dxi-column>
                        <dxi-column dataField="quantity" dataType="number"></dxi-column>
                        <dxi-column dataField="price" dataType="number"></dxi-column>
                        <dxi-column dataField="discount(%)" dataType="number"></dxi-column>
                        <dxi-column dataField="totalPrice" dataType="number"></dxi-column>
                        <dxi-column dataField="GSTCode"></dxi-column>
                        <dxi-column dataField="GSTAmount" dataType="number"></dxi-column>
                        <dxi-column dataField="OrderBy"></dxi-column>
                        <dxi-column dataField="PayBy"></dxi-column>

                        <dxo-summary>
                            <dxi-group-item
                                column="GSTAmount"
                                summaryType="sum"
                                valueFormat="number"
                                displayFormat="Total: {0}"
                                [showInGroupFooter]="true">
                            </dxi-group-item>
                            <dxi-group-item
                                column="totalPrice"
                                summaryType="sum"
                                valueFormat="number"
                                displayFormat="Total: {0}"
                                [showInGroupFooter]="true">
                            </dxi-group-item>
                            <dxi-total-item
                              column="totalPrice"
                              summaryType="sum"
                              displayFormat="Total: {0}"
                              valueFormat="number">
                            </dxi-total-item>
                            <dxi-total-item
                              column="GSTAmount"
                              summaryType="sum"
                              displayFormat="Total: {0}"
                              valueFormat="number">
                            </dxi-total-item>
                        </dxo-summary>


                        </dx-data-grid>
                  
                      </div>   
                </md-card-content>
              </md-card>
            </md-tab>
          </md-tab-group>
        </md-card-content>
      </md-card>
  </section>