<div class="toolbar">
  <div>
      <button md-raised-button [disabled]="disableSave" (click)="onSave()">Save</button>
      <button md-raised-button (click)="onNew()">New</button>
  </div>
  <!--{{myForm.value|json}}--> 
  <md-form-field class="input-full-width">
      <md-chip-list mdPrefix #chipList1>
          <md-chip *ngFor="let medication of medicationList" [selectable]="selectable"
                   [removable]="removable" (remove)="remove(medication)">
            {{medication.name}}
            <md-icon mdChipRemove *ngIf="removable">cancel</md-icon>
          </md-chip>
      </md-chip-list>
    <input mdInput placeholder="Medication ..." [mdAutocomplete]="autoMedication" [formControl]="medicationCtrl"
    [mdChipInputFor]="chipList1"
    [mdChipInputSeparatorKeyCodes]="separatorKeysCodes"
    [mdChipInputAddOnBlur]="addOnBlur"
    (mdChipInputTokenEnd)="add($event)"
    >
  </md-form-field>
  <md-autocomplete #autoMedication="mdAutocomplete" [displayWith]="displayMedicationFn">
    <md-option *ngFor="let medication of filteredMedications | async" [value]="medication"  (onSelectionChange)="addMedication($event)">
      <span>{{medication.chargeItemCode}}, </span>
      <small>{{medication.chargeItemDescription}}</small>
    </md-option>
  </md-autocomplete>
<section>

<md-card>
  <md-card-content>
      <div class="container">
        <div>
            <button md-raised-button color="accent" (click)="toggleSearch()"><i class="material-icons">search</i>Search Medication Items...</button>
        </div>

        <div>
          <md-form-field class="input-full-width">
            <input mdInput placeholder="Medication Template" [mdAutocomplete]="autoMedicationTemplate" [formControl]="medicationTemplateCtrl">
          </md-form-field>
          <md-autocomplete #autoMedicationTemplate="mdAutocomplete">
            <md-option *ngFor="let medicationTemplate of filteredMedicationTemplates | async" [value]="medicationTemplate">
              {{ medicationTemplate }}
            </md-option>
          </md-autocomplete>
        </div>
        <div>
            <md-form-field class="input-full-width">
                <input mdInput placeholder="Ordered By" [mdAutocomplete]="orderedBy" [formControl]="orderedByCtrl">
                
                <md-autocomplete #orderedBy="mdAutocomplete" [displayWith]="displayDoctorFn">
                <md-option *ngFor="let doctor of filteredOrderedBy | async" [value]="doctor">
                  <span>{{ doctor.userFullName }}, </span>
                  <small><strong>Initial:</strong>{{doctor.userInitial}}, <strong>Speciality:</strong>{{doctor.specialityID}}</small>
                </md-option>
                </md-autocomplete>
              </md-form-field>
          </div>
      </div>

<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
        <div formArrayName="medicationLnResource">
          <div *ngFor="let medication of myForm.controls.medicationLnResource.controls; let i=index" >

        <md-expansion-panel #myPanel expanded="true">
            <md-expansion-panel-header>
              <mat-panel-description>
              </mat-panel-description>
              <mat-panel-title>
                  <strong>#{{(i+1)}} - {{medication.controls["drugName"].value}}</strong>
              </mat-panel-title>
            </md-expansion-panel-header>
              <div [formGroupName]="i">
                  <div class="container">
                      <div class="two">
                          <md-form-field class="input-full-width">
                              <input mdInput placeholder="Dosage" formControlName="dosage" (ngModelChange)="calculateQty(i)">
                              <md-hint align="end">1 tablet(s) 1 times(s) a day for 1 days(s)</md-hint>
                            </md-form-field>
                      </div>
                      <div>
                          <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="Take/Apply" formControlName="take" (ngModelChange)="calculateQty(i)">
                          </md-form-field>
                        </div>
                        <div>
                          <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="Time per Day" formControlName="time" (ngModelChange)="calculateQty(i)">
                          </md-form-field>
                        </div>
                        <div>
                          <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="Number of Day" formControlName="day" (ngModelChange)="calculateQty(i)">
                          </md-form-field>
                        </div>
                        <div>
                            <md-select class="input-full-width" placeholder="UOM" name="inventoryUOMID" formControlName="inventoryUOMID">
                              <md-option *ngFor="let uom of uoms" [value]="uom.inventoryUOMID" >
                                {{uom.uomName}}
                              </md-option>
                            </md-select>
                        </div>
                        <div>
                          <md-select class="input-full-width" placeholder="Route" name="route" formControlName="route">
                              <md-option *ngFor="let route of routes" [value]="route.value" >
                                {{route.viewValue}}
                              </md-option>
                          </md-select>
                        </div>
                        <div>
                            <md-checkbox formControlName="whenNecessary">When Necessary</md-checkbox>
                        </div>
                  </div>
                
                  <div class="container">
                      <div>
                          <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="Total Quantity" formControlName="totalQuantity" (ngModelChange)="calculatePrice(i)">
                            <md-hint align="end">Avail Quantity: <b class="highlighter">{{medication.controls["availQty"].value}}</b></md-hint>
                          </md-form-field>
                      </div>
                      <div>
                          <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="Price" name="originalPrice" formControlName="originalPrice" (ngModelChange)="calculatePrice(i)">
                          </md-form-field>
                        </div>
                        <div>
                            <md-form-field class="input-full-width">
                              <input mdInput type="number" placeholder="Discount Apply (%)" formControlName="discountPerc">
                            </md-form-field>
                        </div>
                        <div>
                            <md-form-field class="input-full-width">
                              <input mdInput type="number" placeholder="Discount Apply (Amount)" formControlName="discountAmount">
                            </md-form-field>
                        </div>
                        <div>
                          <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="Total Price" name="billPrice" value="403.00" formControlName="billPrice">
                          </md-form-field>
                        </div>
                  </div>
                  
                  <div class="container"> 
                      <div>
                        <md-form-field class="input-full-width">
                          <input mdInput placeholder="Instruction #1" formControlName="instruction1">
                        </md-form-field>
                      </div>
                      <div>
                        <md-form-field class="input-full-width">
                          <input mdInput placeholder="Instruction #2" formControlName="instruction2">
                        </md-form-field>
                      </div>
                      <div>
                        <md-form-field class="input-full-width">
                          <input mdInput placeholder="Indication" formControlName="indication">
                        </md-form-field>
                      </div>
                    </div>
              </div>
          </md-expansion-panel>
          </div>
        </div>
      </form><br>
<!--
      <div>
          <dx-data-grid style="display:block;" #grid
          id="gridContainer" 
          [dataSource]="returnedResult"
          [allowColumnResizing]="true"
          (onRowUpdating)="update($event)"
          (onRowInserting)="insert($event)"
          [columnAutoWidth]="true"
          [allowColumnReordering]="true">  
          <dxo-editing 
              mode="cell"
              [allowUpdating]="true"
              [allowDeleting]="true">
          </dxo-editing>
          <dxi-column dataField="chargeItemCode" [width]="100"></dxi-column>
          <dxi-column dataField="chargeItemDescription" [width]="150"></dxi-column>
          <dxi-column dataField="dosage" [width]="60"></dxi-column>
          <dxi-column dataField="take" dataType="number" [width]="45"></dxi-column>
          <dxi-column dataField="time" dataType="number" [width]="48"></dxi-column>
          <dxi-column dataField="day" dataType="number" [width]="45"></dxi-column>
          <dxi-column dataField="totalQty" caption="totalQty" dataType="number" [calculateCellValue]="calTotalQTY" [width]="55"></dxi-column>
          <dxi-column
          dataField="value"
          caption="uom"
          [width]="100">         
            <dxo-lookup
                [dataSource]="uoms"
                displayExpr="viewValue"
                valueExpr="value">
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="price" dataType="number" [width]="50"></dxi-column>
          <dxi-column dataField="totalPrice" dataType="number" [calculateCellValue]="calTotalPrice" [width]="60"></dxi-column>
          <dxi-column
          dataField="route"
          caption="route"
          [width]="100">         
            <dxo-lookup
                [dataSource]="routes"
                displayExpr="viewValue"
                valueExpr="value">
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="Whennecessary" caption="When necessary" dataType="boolean"></dxi-column>
          <dxi-column dataField="instructionOne"></dxi-column>
          <dxi-column dataField="instructionTwo"></dxi-column>
          <dxi-column dataField="indication"></dxi-column>
          </dx-data-grid>
    
        </div>   
      -->
      <div class="container">
        <div>
          <md-form-field class="input-full-width">
            <textarea mdInput [(ngModel)]="data.remark" placeholder="Medication Note"></textarea>
          </md-form-field>
        </div>
      </div>
  </md-card-content>
</md-card>
<p>
  <md-accordion>
    <md-expansion-panel *ngFor="let historyList of historyRecord">
        <md-expansion-panel-header>
          <mat-panel-description></mat-panel-description>
          <mat-panel-title>
            <strong><h4 md-line><i class="material-icons">timer</i> {{historyList.created | date:'medium'}} - <strong>{{historyList.medicationOrderNo}}</strong></h4></strong>
          </mat-panel-title>
        </md-expansion-panel-header>
            <md-list>
              <md-list-item>
                <p md-line>
                    <span> <small>Ordered By: </small><small class="highlighter">{{historyList.orderedByResource?.userFullName}}</small> </span>
                </p>
                <p md-line>
                  <span> <small>Medical Note: </small><small class="highlighter">{{historyList.remark}}</small> </span>
                </p> 
                <p md-line>
                    <span> 
                    <table class="orderTable">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Code</th>
                          <th>Description</th>
                          <th>Dosage</th>
                          <th>Take</th>
                          <th>Time</th>
                          <th>Day</th>
                          <th>UOM</th>
                          <th>Route</th>
                          <th>When Necessary</th>
                          <th>Total Quantity</th>
                        <!--  <th>Price</th>
                          <th>Discount (%)</th>
                          <th>Discount (Amount)</th>
                          <th>Total Price</th>
                        -->
                          <th>Instruction #1</th>
                          <th>Instruction #2</th>
                          <th>Indication</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let orderList of historyList.medicationLnResource; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{orderList.chargeItemResource.chargeItemCode}}</td>
                        <td>{{orderList.chargeItemResource.chargeItemDescription}}</td>
                        <td>{{orderList.dosage}}</td>
                        <td>{{orderList.take}}</td>
                        <td>{{orderList.time}}</td>
                        <td>{{orderList.day}}</td>
                        <td>{{orderList.inventoryUOMID}}</td>
                        <td>{{orderList.route}}</td>
                        <td>{{orderList.whenNecessary}}</td>
                        <td>{{orderList.totalQuantity}}</td>
                        <!--
                        <td>{{orderList.originalPrice}}</td>
                        <td>{{orderList.discountPerc}}</td>
                        <td>{{orderList.discountAmount}}</td>
                        
                        <td>{{orderList.billPrice}}</td>
                        -->
                        <td>{{orderList.instruction1}}</td>
                        <td>{{orderList.instruction2}}</td>
                        <td>{{orderList.indication}}</td>

                        </tr>
                        </tbody>
                    </table>
                  </span>
                </p> 
              </md-list-item>
            </md-list>
            <md-action-row>
                <span>Current Version: <small class="highlighter">{{historyList.version}}</small></span>  
                <span>, Updated: <small class="highlighter">{{historyList.created | date:'medium'}}</small> </span>
                <span>, By: <small class="highlighter">{{historyList.createdByResource.userFullName}}</small></span>
                <span>, Created: <small class="highlighter">{{historyList.created | date:'medium'}}</small> </span>
                <span>, By: <small class="highlighter">{{historyList.createdByResource.userFullName}}</small></span>
                <span> </span>
                <button md-raised-button (click)="loadDatabyID(historyList.medicationHdrID)"><i class="material-icons">mode_edit</i>Edit</button>
                <button md-raised-button (click)="loadDatabyID(historyList.medicationHdrID)"><i class="material-icons">delete</i>Delete</button>
              </md-action-row>
    </md-expansion-panel>
  </md-accordion>
</section>










