<div class="toolbar">
  <div>
      <button md-raised-button>Save</button>
      <button md-raised-button>New</button>
  </div>
</div>

  <md-form-field class="input-full-width">
      <md-chip-list mdPrefix #chipList1>
          <md-chip *ngFor="let person of people" [selectable]="selectable"
                   [removable]="removable" (remove)="remove(person)">
            {{person.name}}
            <md-icon mdChipRemove *ngIf="removable">cancel</md-icon>
          </md-chip>
        </md-chip-list>
    <input mdInput placeholder="Search Medication ..." [mdAutocomplete]="autoMedication" [formControl]="medicationCtrl"
    [mdChipInputFor]="chipList1"
    [mdChipInputSeparatorKeyCodes]="separatorKeysCodes"
    [mdChipInputAddOnBlur]="addOnBlur"
    (mdChipInputTokenEnd)="add($event)"
    >
  </md-form-field>
  <md-autocomplete #autoMedication="mdAutocomplete">
    <md-option *ngFor="let medication of filteredMedications | async" [value]="medication.inventoryCode">
      <span>{{medication.inventoryCode}}, </span>
      <small>{{medication.inventoryDescription}}</small>
    </md-option>
  </md-autocomplete>
<section>

<md-card>
  <md-card-content>
      <div class="container">
        <div class="two"> 
          <md-form-field class="input-full-width">
            <input mdInput placeholder="Medication" [mdAutocomplete]="autoMedication" [formControl]="medicationCtrl">
          </md-form-field>
          <md-autocomplete #autoMedication="mdAutocomplete">
            <md-option *ngFor="let medication of filteredMedications | async" [value]="medication.inventoryCode" (onSelectionChange)="addAddress($event)">
              <span>{{medication.inventoryCode}}, </span>
              <small>{{medication.inventoryDescription}}</small>

            </md-option>
          </md-autocomplete>
        </div>
        <div>
          <md-form-field class="input-full-width">
            <input mdInput placeholder="Medication Template" [mdAutocomplete]="autoMedicationTemplate" [formControl]="medicationTemplateCtrl">
          </md-form-field>
          <md-autocomplete #autoMedicationTemplate="mdAutocomplete">
            <md-option *ngFor="let medicationTemplate of filteredMedicationTemplates | async" [value]="medicationTemplate">
              {{ medicationTemplate }}
            </md-option>
          </md-autocomplete>
        </div>
      </div>

<br>

<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
        <div formArrayName="prescribeList">
          <div *ngFor="let address of myForm.controls.prescribeList.controls; let i=index" >

        <md-expansion-panel #myPanel expanded="true">
            <md-expansion-panel-header>
              <mat-panel-description>
              </mat-panel-description>
              <mat-panel-title>
                  <strong>#{{(i+1)}} - {{address.controls["drugName"].value}}</strong>
              </mat-panel-title>
            </md-expansion-panel-header>
              <div [formGroupName]="i">
                  <div class="container">
                      <div class="two">
                          <md-form-field class="input-full-width">
                              <input mdInput placeholder="Dosage" formControlName="dosage">
                              <md-hint align="end">1 tablet(s) 1 times(s) a day for 1 days(s)</md-hint>
                            </md-form-field>
                      </div>
                      <div>
                          <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="Take/Apply" formControlName="take">
                          </md-form-field>
                        </div>
                        <div>
                          <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="Time per Day" formControlName="time">
                          </md-form-field>
                        </div>
                        <div>
                          <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="Number of Day" formControlName="day">
                          </md-form-field>
                        </div>
                        <div>
                            <md-form-field class="input-full-width">
                              <input mdInput type="number" placeholder="Total Quantity" formControlName="totalQty">
                              <md-hint align="end">Avail Qty: 503</md-hint>
                            </md-form-field>
                        </div>
                        <div>
                            <md-select placeholder="UOM" name="uom" formControlName="uom">
                              <md-option *ngFor="let uom of uoms" [value]="uom.value" >
                                {{uom.viewValue}}
                              </md-option>
                            </md-select>
                        </div>
                        <div>
                            <md-checkbox formControlName="necessary">When Necessary</md-checkbox>
                        </div>
                  </div>
                
                  <div class="container">
                      <div>
                          <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="Price" name="price" disabled="true" value="103.00" formControlName="price">
                          </md-form-field>
                        </div>
                        <div>
                            <md-form-field class="input-full-width">
                              <input mdInput type="number" placeholder="Discount Apply (%)" formControlName="discPerc">
                            </md-form-field>
                        </div>
                        <div>
                            <md-form-field class="input-full-width">
                              <input mdInput type="number" placeholder="Discount Apply (Amount)" formControlName="discAmt">
                            </md-form-field>
                        </div>
                        <div>
                          <md-form-field class="input-full-width">
                            <input mdInput type="number" placeholder="Total Price" name="totalPrice" disabled="true" value="403.00" formControlName="totalPrice">
                          </md-form-field>
                        </div>
                  </div>
                  
                  <div class="container"> 
                      <div>
                          <md-select placeholder="Route of Adminitration" name="route" formControlName="route">
                              <md-option *ngFor="let route of routes" [value]="route.value" >
                                {{route.viewValue}}
                              </md-option>
                          </md-select>
                      </div>

                      <div>
                        <md-form-field class="input-full-width">
                          <input mdInput placeholder="Instruction #1" formControlName="instructionOne">
                        </md-form-field>
                      </div>
                      <div>
                        <md-form-field class="input-full-width">
                          <input mdInput placeholder="Instruction #2" formControlName="instructionTwo">
                        </md-form-field>
                      </div>
                      <div>
                        <md-form-field class="input-full-width">
                          <input mdInput placeholder="Indication" formControlName="indication">
                        </md-form-field>
                      </div>
                    </div>
              </div>
          </md-expansion-panel>
          </div>
        </div>
      </form><br>

      <div class="container">
        <div>
          <md-form-field class="input-full-width">
            <input mdInput placeholder="Order By" [mdAutocomplete]="autoOrderBy" [formControl]="orderByCtrl">
          </md-form-field>
          <md-autocomplete #autoOrderBy="mdAutocomplete">
            <md-option *ngFor="let orderBy of filteredOrderBys | async" [value]="orderBy">
              {{ orderBy }}
            </md-option>
          </md-autocomplete>
        </div>
      </div>
      <div class="container">
        <div>
          <md-form-field class="input-full-width">
            <textarea mdInput placeholder="Medication Note"></textarea>
          </md-form-field>
        </div>
      </div>
  </md-card-content>
</md-card>

<md-list>
  <h3 md-subheader>Records List</h3>
  <md-list-item *ngFor="let medication of medicationRecord" >
    <h4 md-line><i class="material-icons">timer</i> {{medication.id}} <strong>{{medication.medicationCode}}</strong></h4>
      <button md-icon-button (click)="open()">
        <i class="material-icons">mode_edit</i>
      </button>
      <button md-icon-button (click)="open()">
        <i class="material-icons">delete</i>
      </button>
    <p md-line>
      <span> <small>Dosage: </small><b>{{medication.dosage}}</b> </span>
      <span> <small>UOM: </small><b>{{medication.uom}}</b> </span>
      <span> <small>Route: </small><b>{{medication.route}}</b> </span>
      <span> <small>Dosage Label: </small><b>{{medication.dosageLabel}}</b> </span>
    </p>
    <p md-line>
      <span> <small>Take/Apply: </small><b>{{medication.take}}</b></span>
      <span> <small>Time per Day: </small><b>{{medication.time}}</b></span>
      <span> <small>Number of Day: </small><b>{{medication.numberOfDay}}</b> </span>
      <span> <small>Total Quantity: </small><b>{{medication.totalQty}}</b> </span>
    </p>
    <p md-line>
      <span> <small>Instruction #1: </small><b>{{medication.instruction1}}</b> </span>
      <span> <small>Instruction #2: </small><b>{{medication.instruction2}}</b> </span>
      <span> <small>Indication: </small><b>{{medication.indication}}</b> </span>
    </p>
    <p md-line>
      <span> <small>Selling Price: </small><b>{{medication.price}}</b> </span>
      <span> <small>Total Price: </small><b>{{medication.totalPrice}}</b> </span>
      <span> <small>Discount Apply: </small><b>{{medication.discount}}</b> </span>
      <span> <small>Order By: </small><b>{{medication.orderBy}}</b> </span>
    </p>
    <p md-line>
      <span> <b>{{medication.note}} </b></span>
    </p>
    <p md-line class="pRight"> 
      <small>
        <span><i>Current Version: </i><b>{{medication.version}}</b></span>
      </small>
    </p>
    <p md-line class="pRight">
      <small>      
        <span><i>Updated: </i><b>{{medication.updated | date:'medium'}}</b> </span>
        <span>, <i>By: </i><b>{{medication.updatedBy}}</b></span>
      </small>
    </p>
    <p md-line class="pRight">
      <small>
        <span><i>Created: </i><b>{{medication.created | date:'medium'}}</b> </span>
        <span>, <i>By: </i><b>{{medication.createdBy}}</b></span>
      </small>
    </p>

  </md-list-item>
</md-list>

</section>

