<md-sidenav-container fullscreen class="demo-content">
  <md-sidenav mode="push" #start>
    <md-nav-list>
      <a *ngFor="let navItem of navItems"
         md-list-item
         (click)="start.close()"
         [routerLink]="[navItem.route]">
        {{navItem.name}}
      </a>

      <hr>
    </md-nav-list>
    <button md-button (click)="start.close()">CLOSE</button>
  </md-sidenav>
  <div>
    <md-toolbar color="primary">
      <button md-icon-button (click)="start.open()">
        <md-icon class="md-24">menu</md-icon>
      </button>
      <div class="demo-toolbar">
        <h1>Doctor G</h1>
       <!-- <button md-button (click)="toggleFullscreen()" title="Toggle fullscreen">
          <i class="material-icons">fullscreen</i> Fullscreen
        </button>-->
        <button md-button (click)="toggleAppointment()" title="Appointment">
          <i class="material-icons">event</i> Appointment
        </button>
        <button md-button (click)="toggleMenu()" title="Toggle Main Menu">
          <i class="material-icons">apps</i> Menu
        </button>
        <button md-button (click)="toggleMasterData()" title="Master Data">
          <i class="material-icons">folder_special</i> Master Data
        </button>
        <button md-button (click)="toggleBilling()" title="Billing">
          <i class="material-icons">attach_money</i> Billing
        </button>

        
        <button md-button (click)="toggleLanding()" title="Home">
          <i class="material-icons">home</i> Home
        </button>

        <button md-button title="Login"
          *ngIf="!AuthService.isAuthenticated()"
          (click)="AuthService.login()">
          <i class="material-icons">fingerprint</i> Login
        </button>

        <button md-button title="Logout"
          *ngIf="AuthService.isAuthenticated()"
          (click)="AuthService.logout()">
          <i class="material-icons">lock</i> Logout
        </button>


      </div>
    </md-toolbar>

    <div class="demo-content-inner">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>
