/*temporary ui fix */
:host /deep/ .mat-select-trigger {
  font-size: 12px;
  height: inherit;
  margin-bottom: 15px;
  margin-top: 2px;
  
}

:host /deep/ .mat-select-value-text {
  line-height: inherit;
  margin-bottom: 15px;
  margin-top: 2px;
}

:host /deep/ .mat-select {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 15px;
  margin-left: 1px;
}

:host /deep/ .mat-checkbox {
  font-size: 12px;
  margin-top: 2px;
  margin-left: 1px;
}

:host /deep/ .mat-radio-group {
  font-size: 12px;
  margin-top: 2px;
  margin-left: 1px;
}
/*temporary ui fix */