<section>

  <md-expansion-panel  #myPanel>
    <md-expansion-panel-header>
      <mat-panel-description>{{data.visitType}} - <a [routerLink]="['/visit/'+data.visitID]">{{data.visitNo}}</a>, Payment Mode: {{data.cashPatient ? 'Cash' : 'Non-Cash' }}</mat-panel-description>
      <mat-panel-title>
        <strong>{{data.visitID}} <a [routerLink]="['/patient/'+data.patientID]">{{data.patientResource.name}}</a></strong>
        , {{data.patientResource.gender =='M' ? 'Male' : 'Female'}}
      </mat-panel-title>
    </md-expansion-panel-header>
    <div class="containerheader">
      <div>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRknSmtr_d_d9kbGl1imGj_jJWm5pjlM9sKfmBT0gzChQBeujWoHg" height="120" width="120">
      </div>
        <div>
          <md-list dense>
            <md-list-item>
               <p md-line>
                <span>MRN: {{data.patientID}}</span>
              </p>
               <p md-line>
                <span>{{data.patientResource.identificationTypeID}}:{{data.patientResource.identificationValue}}</span>
              </p>
               <p md-line>
                <span>D.O.B: {{data.patientResource.dob | date: 'dd/MM/yyyy'}}(36 yr 5 mth 21 d)</span>
              </p>
            </md-list-item>
          </md-list>
        </div>
        <div>
          <md-list dense> 
            <md-list-item>
              <h4 md-line><strong>Payment Mode</strong></h4>
              <p md-line>
                <span>{{data.insuranceResource.insuranceName}}</span>
              </p>
              <p md-line>
                <span>{{data.payorResource.payorName}}</span>
              </p>
              <p md-line>
                <span>Current Bill: RM534.00 </span>
              </p>
              <p md-line>
                <span>Outstanding Amount: RM534.00 </span>
              </p>
            </md-list-item>
          </md-list>
        </div>
        <div>
          <md-list dense>
            <md-list-item>
              <h4 md-line><strong>Warning</strong></h4>
              <p md-line>
                <span>Nuts</span>
              </p>
              <p md-line>
                <span>Panadol, Uphamol, Paraceptamol, Seafood, Milk, Daily Products</span>
              </p>
            </md-list-item>
          </md-list>
        </div>
      </div>
  </md-expansion-panel>

  <form>
      
    <md-card>
      <md-card-content>
        <md-tab-group>
          <md-tab>
            <ng-template md-tab-label>
              Timeline
            </ng-template>
            <md-card>
              <md-card-content>
                <app-timeline [patientID]="data.patientID" [visitID]="data.visitID" [invoiceHdrID]="data.invoiceHdrID"></app-timeline>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              Diagnosis
            </ng-template>
            <md-card>
              <md-card-content>
                <app-diagnosis [patientID]="data.patientID" [visitID]="data.visitID" [invoiceHdrID]="data.invoiceHdrID"></app-diagnosis>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              Vital Signs
            </ng-template>
            <md-card>
              <md-card-content>
                <app-vital-signs></app-vital-signs>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              Procedure
            </ng-template>
            <md-card>
              <md-card-content>
                <app-procedure [patientID]="data.patientID" [visitID]="data.visitID" [invoiceHdrID]="data.invoiceHdrID"></app-procedure>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              Medication
            </ng-template>
            <md-card>
              <md-card-content>
                <app-medication [patientID]="data.patientID" [visitID]="data.visitID" [invoiceHdrID]="data.invoiceHdrID"></app-medication>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              Laboratory
            </ng-template>
            <md-card>
              <md-card-content>
                <app-laboratory [patientID]="data.patientID" [visitID]="data.visitID" [invoiceHdrID]="data.invoiceHdrID"></app-laboratory>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              Radiology
            </ng-template>
            <md-card>
              <md-card-content>
                <app-radiology [patientID]="data.patientID" [visitID]="data.visitID" [invoiceHdrID]="data.invoiceHdrID"></app-radiology>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              Document
            </ng-template>
            <md-card>
              <md-card-content>
                <app-document [patientID]="data.patientID" [visitID]="data.visitID" [invoiceHdrID]="data.invoiceHdrID"></app-document>
              </md-card-content>
            </md-card>
          </md-tab>
        </md-tab-group>
      </md-card-content>
    </md-card>
  </form>

</section>
