<section>
{{visitdata |json}}
  <md-expansion-panel  #myPanel>
    <md-expansion-panel-header>
      <mat-panel-description>Outpatient - OPD-0000101027, Payment Mode: AIA Premium Patient</mat-panel-description>
      <mat-panel-title>
        <strong>{{data.visitID}} Tan Seri. Dato Seri. Barack Obama van Orange</strong>
        , Female
      </mat-panel-title>
    </md-expansion-panel-header>
    <div class="containerheader">
      <div>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYNSdOcn2GYWS6XP8fS01a-bShnHGNcK3cKURyxIgEHjOZt9z4" height="80" width="80">
      </div>
        <div>
          <md-list dense>
            <md-list-item>
               <p md-line>
                <span>D.O.B: 25-12-1979(36 yr 5 mth 21 d)</span>
              </p>
            </md-list-item>
          </md-list>
        </div>
        <div>
          <md-list dense> 
            <md-list-item>
              <h4 md-line><strong>Payment Mode</strong></h4>
              <p md-line>
                <span>AIA Premium Patient</span>
              </p>
              <p md-line>
                <span>AIA Malaysia International (South East Asia Region) Berhard</span>
              </p>
              <p md-line>
                <span>Current Bill: RM534.00 </span>
              </p>
              <p md-line>
                <span>Outstanding Amount: RM534.00 </span>
              </p>
            </md-list-item>
          </md-list>
        </div>
        <div>
          <md-list dense>
            <md-list-item>
              <h4 md-line><strong>Warning</strong></h4>
              <p md-line>
                <span>Nuts</span>
              </p>
              <p md-line>
                <span>Panadol, Uphamol, Paraceptamol, Seafood, Milk, Daily Products</span>
              </p>
            </md-list-item>
          </md-list>
        </div>
      </div>
  </md-expansion-panel>

  <form>
      
    <md-card>
      <md-card-content>
        <md-tab-group>
          <md-tab>
            <ng-template md-tab-label>
              Timeline
            </ng-template>
            <md-card>
              <md-card-content>
                <app-timeline></app-timeline>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              Diagnosis
            </ng-template>
            <md-card>
              <md-card-content>
                <app-diagnosis></app-diagnosis>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              Vital Signs
            </ng-template>
            <md-card>
              <md-card-content>
                <app-vital-signs></app-vital-signs>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              Procedure
            </ng-template>
            <md-card>
              <md-card-content>
                <app-procedure></app-procedure>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              Medication
            </ng-template>
            <md-card>
              <md-card-content>
                <app-medication></app-medication>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              Laboratory
            </ng-template>
            <md-card>
              <md-card-content>
                <app-laboratory></app-laboratory>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              Radiology
            </ng-template>
            <md-card>
              <md-card-content>
                <app-radiology></app-radiology>
              </md-card-content>
            </md-card>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              Document
            </ng-template>
            <md-card>
              <md-card-content>
                <app-document></app-document>
              </md-card-content>
            </md-card>
          </md-tab>
        </md-tab-group>
      </md-card-content>
    </md-card>
  </form>

</section>
