
<section>
    <form>
      <div class="toolbar">
        <div>
          <button md-raised-button>Save</button>
          <button md-raised-button>New</button>
        </div>
      </div>
  
      <md-card>
        <md-card-content>
  
          <div class="container">
            <div>
              <md-select placeholder="Laboratory" name="laboratory"  class="input-full-width">
                  <md-option *ngFor="let laboratory of laboratories" [value]="laboratory.value">
                      {{laboratory.viewValue}}
                  </md-option>
              </md-select>
            </div>
            <div>
              <button md-raised-button color="accent" (click)="toggleSearch()"><i class="material-icons">search</i>Search Laboratory Items...</button>
            </div>
            <div>
                <md-radio-group class="input-full-width">
                    <md-radio-button *ngFor="let priority of priorities" [value]="priority">
                        {{priority}}
                    </md-radio-button>
                </md-radio-group>
            </div>
          </div>
  
          <div class="container">
              <div>
                  <md-form-field class="input-full-width">
                    <input mdInput placeholder="Ordered By" [mdAutocomplete]="orderedBy" [formControl]="orderedByCtrl">
                    
                    <md-autocomplete #orderedBy="mdAutocomplete" [displayWith]="displayDoctorFn">
                    <md-option *ngFor="let doctor of filteredOrderedBy | async" [value]="doctor">
                      <span>{{ doctor.userFullName }}, </span>
                      <small><strong>Initial:</strong>{{doctor.userInitial}}, <strong>Speciality:</strong>{{doctor.specialityID}}</small>
                    </md-option>
                    </md-autocomplete>
                  </md-form-field>
              </div>
              <div>
                
                  <md-form-field class="input-full-width">
                    <input mdInput placeholder="Referred By" [mdAutocomplete]="referredBy" [formControl]="referredByCtrl">
                    
                    <md-autocomplete #referredBy="mdAutocomplete" [displayWith]="displayDoctorFn">
                    <md-option *ngFor="let doctor of filteredReferredBy | async" [value]="doctor">
                      <span>{{ doctor.userFullName }}, </span>
                      <small><strong>Initial:</strong>{{doctor.userInitial}}, <strong>Speciality:</strong>{{doctor.specialityID}}</small>
                    </md-option>
                    </md-autocomplete>
                  </md-form-field>
                
              </div>
              <div>
                
                  <md-form-field class="input-full-width">
                    <input mdInput placeholder="Reply To" [mdAutocomplete]="replyTo" [formControl]="replyToCtrl">
                    
                    <md-autocomplete #replyTo="mdAutocomplete" [displayWith]="displayDoctorFn">
                    <md-option *ngFor="let doctor of filteredReplyTo | async" [value]="doctor">
                      <span>{{ doctor.userFullName }}, </span>
                      <small><strong>Initial:</strong>{{doctor.userInitial}}, <strong>Speciality:</strong>{{doctor.specialityID}}</small>
                    </md-option>
                    </md-autocomplete>
                  </md-form-field>
                
              </div>
          </div>
          <div class="container">
              <div>
                  <md-form-field class="input-full-width">
                    <input mdInput placeholder="Reported By" [mdAutocomplete]="reportedBy" [formControl]="reportedByCtrl">
                    
                    <md-autocomplete #reportedBy="mdAutocomplete" [displayWith]="displayDoctorFn">
                    <md-option *ngFor="let doctor of filteredReportedBy | async" [value]="doctor">
                      <span>{{ doctor.userFullName }}, </span>
                      <small><strong>Initial:</strong>{{doctor.userInitial}}, <strong>Speciality:</strong>{{doctor.specialityID}}</small>
                    </md-option>
                    </md-autocomplete>
                  </md-form-field>
            
              </div>
              <div>
                  <md-form-field class="input-full-width">
                      <input mdInput [mdDatepicker]="picker" placeholder="Requested Sample Date-Time">
                      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                      <md-datepicker #picker></md-datepicker>
                    </md-form-field>
              </div>
              <div></div>
          </div>
  
            <div>
              <dx-data-grid style="display:block;" #grid
              id="gridContainer" 
              [dataSource]="returnedResult"
              [allowColumnResizing]="true"
              [columnResizingMode]="columnResizingMode"
              [columnAutoWidth]="true"
              [allowColumnReordering]="true">  
              <dxo-editing 
                  mode="cell"
                  [allowUpdating]="true"
                  [allowDeleting]="true">
              </dxo-editing>
              <dxi-column dataField="catalog"></dxi-column>
              <dxi-column dataField="labCode"></dxi-column>
              <dxi-column dataField="analysis"></dxi-column>
              <dxi-column dataField="externalCode"></dxi-column>
              <dxi-column *ngIf="toShow" dataField="Price" dataType="number"></dxi-column>
              </dx-data-grid>
        
            </div>     
  
          <div class="container">
                <md-form-field class="input-full-width">
                  <textarea mdInput placeholder="Medical Note"></textarea>
                </md-form-field>
          </div>
        </md-card-content>
      </md-card>
    </form>


  <md-list>
    <h3 md-subheader>Medical History</h3>
    <md-list-item *ngFor="let laboratory of laboratoryRecord" >
      <h4 md-line><i class="material-icons">timer</i> {{laboratory.id}} <strong>{{laboratory.laboratory}}</strong></h4>
        <button md-icon-button (click)="open()">
          <i class="material-icons">mode_edit</i>
        </button>
        <button md-icon-button (click)="open()">
          <i class="material-icons">delete</i>
        </button>
      <p md-line>
        <span> <b><small>Ordered By: </small></b>{{laboratory.orderBy}} </span>
        <span> <b><small>Referred By: </small></b>{{laboratory.refferedBy}} </span>
        <span> <b><small>Reply To: </small></b>{{laboratory.replyTo}} </span>
        <span> <b><small>Reported By: </small></b>{{laboratory.reportedBy}} </span>
      </p>
      <p md-line>
        <span> <b><small>Priority: </small></b>{{laboratory.orderBy}} </span>
        <span> <b><small>Requested Sample Date-Time: </small></b>{{laboratory.refferedBy}} </span>
      </p>
      <p md-line>
        <span> {{laboratory.note}} </span>
      </p>
      <p md-line>
          <span>
            <div class="tablerow">
                <div><b>Lab item</b></div>
                <div><b>Description</b></div>
                <div><b>Price</b></div>
                <div><b>Lab Group</b></div>
            </div>
            <div class="tablerow">
                <div>Urine Test</div>
                <div>Test urine color</div>
                <div>RM 100.00</div>
                <div>Urine Test Profile</div>
            </div>
            <div class="tablerow">
                <div>Urine Test Count</div>
                <div>Test urine Count Protein</div>
                <div>RM 30.00</div>
                <div>Urine Test Profile</div>
            </div>
          </span>
      </p>
      <p md-line class="pRight"> 
        <small>
          <span><b>Current Version: </b><i>{{laboratory.version}}</i></span>
        </small>
      </p>
      <p md-line class="pRight">
        <small>      
          <span><b>Updated: </b><i>{{laboratory.updated | date:'medium'}}</i> </span>
          <span>, <b>By: </b><i>{{laboratory.updatedBy}}</i></span>
        </small>
      </p>
      <p md-line class="pRight">
        <small>
          <span><b>Created: </b><i>{{laboratory.created | date:'medium'}}</i> </span>
          <span>, <b>By: </b><i>{{laboratory.createdBy}}</i></span>
        </small>
      </p>

    </md-list-item>
  </md-list>


</section>


